<h3> welcome <%= @profile.email %></h3>
<table>
    <tr>
        <td> <%= link_to 'Add Education' , new_profile_education_path(@profile) %></td>
        <td><%= link_to 'log out ' , destroy_user_session_path, method: :delete %> </td>
    </tr>
</table>